<div class="about-wrapper">
  <h1 class="heading">Component About</h1>
  <p style="color: blue; font-weight: 600; font-size: 20px">[ngClass] - Pipe</p>
  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>In stock</th>
      <th>Discount</th>
      <th>New Price</th>
    </tr>
    <tr *ngFor="let fruit of fruits2">
      <td>{{ fruit.id }}</td>
      <td>{{ fruit.name | uppercase }}</td>
      <td>{{ fruit.price | currency : "USD" : "symbol" : "1.2" }}</td>
      <td [ngClass]="{ empty: fruit.inStock === 0, 'text-right': true }">
        {{ fruit.inStock }}
      </td>

      <td [ngClass]="{ discount: fruit.isDiscount }">
        {{ fruit.isDiscount | onSale }}
      </td>

      <div *ngIf="fruit.isDiscount; then discount; else notDiscount"></div>
      <ng-template #discount>
        <td [ngClass]="{ discount: true }">
          {{ fruit.price * 0.9 | currency : "USD" : "symbol" : "1.2" }}
        </td>
      </ng-template>
      <ng-template #notDiscount>
        <td>{{ fruit.price | currency : "USD" : "symbol" : "1.2" }}</td>
      </ng-template>
    </tr>
  </table>
  <hr />
  <p style="font-weight: 600; font-size: 20px; color: blue">[ngSwitch]</p>
  <ul [ngSwitch]="loginName">
    <li *ngSwitchCase="'user'">
      <p>User has logged in</p>
      <app-cascade-select></app-cascade-select>
    </li>
    <li *ngSwitchCase="'admin'">
      <p [appHighlight]="'orange'">Admin has logged in</p>
      <app-home></app-home>
    </li>
    <li *ngSwitchDefault>
      <p>Default case</p>
    </li>
  </ul>
</div>
