<div class="cascade-wrapper">
  <h1 class="heading">Component CascadeSelect</h1>

  <select name="places" id="places" (change)="handleChangePlaces($event)">
    <option *ngFor="let place of places">{{ place.name }}</option>
  </select>
  <select name="subPlaces" id="subPlaces">
    <option *ngFor="let subPlace of subPlaces">{{ subPlace.name }}</option>
  </select>

  <hr />
  <p style="font-weight: 600; font-size: 20px; color: blue">Service</p>
  <p>Counter: {{ counter }}</p>
  <p>Squared Counter: {{ squaredCounter }}</p>
  <app-home></app-home>
</div>
